* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

#background {
  background-image: url(images/background.jpg);
  background-position: center;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  height: 200%;
  width: 100%;
  top: 0;
  left: 0;
}

#icon {
  font-size: 100px;
  padding: 30px;
}

.hidden {
  display: none;
}
